body {
    margin: 50px 50px;
    width: 100%;
    height: 100%;
    background: #25282a;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;    
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: white;
}

h1 {
    font-size: 36px;
    margin: 0;
}

h2 {
    font-size: 28px;
    margin: 0;
    margin-bottom: 20px;
}

main {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.slider {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow: hidden;
    width: 700px;
    height: 410px;
    border-radius: 10px;
}

.slides {
    display: flex;

    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;

}

.slides > div {
    scroll-snap-align: start;
    width: 700px;
    height: 408px;
}

.bullets-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 22px;
    width: 700px;
}

.bullet-box {
    margin: 0 5px;
}

.bullet {
    border: 2px solid #71abff;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    
    font-size: 0;
    background-color: #71abff;
}

.bullets-container > a {
    display: block;
    margin: 0 5px;
}

a > .bullet:hover {
    background-color: white;
    border: 2px solid white;
}

a > .bullet:active {
    background-color: transparent;
    border: 2px solid #71abff;
    border-radius: 50%;
}

a > .bullet:focus {
    border: 2px solid #71abff;
    border-radius: 50%;
}